---
layout: default
title:  "Rigs of Rods Documentation"
categories: [page]
---
<article id="docs-page">
	<header id="docs-header">
		<div class="wrapper docs-content">
			<h1>Rigs of Rods Documentation</h1>
			<p class="description">Welcome to the Rigs of Rods Documentation.
			Here you'll find gameplay guides as well as tutorials and technical information
			for content creators.</p>
			<p class="description"><strong>This documentation is an early work-in-progress.</strong>
			See <a href="oldwiki-done">done-list</a> and <a href="oldwiki-todo">TODO-list</a> for more info.
			</p>
		</div>
	</header>
	<div class="page wrapper docs-content">
		<section>
			<h1>Overview</h1>
			{% include category.html category="overview" %}
		</section>
		<section>
			<h1>Gameplay</h1>
			{% include category.html category="gameplay" %}
		</section>
		<section>
			<h1>Vehicle creation</h1>
			{% include category.html category="vehicle-creation" %}
		</section>
		<section>
			<h1>Terrain creation</h1>
			{% include category.html category="terrain-creation" %}
		</section>
		<section>
			<h1>Tools</h1>
			{% include category.html category="tools" %}
		</section>
		<section>
			<h1>Technical info</h1>
			{% include category.html category="technical" %}
		</section>
	</div>
</article>

