---
layout: default
title:  "Rigs of Rods Documentation"
categories: [page]
---
<article id="docs-page">
	<header id="docs-header">
		<div class="wrapper docs-content">
			<h1>Rigs of Rods Documentation</h1>
			<p class="description">
                Here you'll find gameplay guides as well as tutorials and technical information
			    for content creators.
            </p>
			<p class="description">
                Content from our old Wiki is being ported here.
			    See <a href="oldwiki-todo">TODO-list</a> and <a href="oldwiki-done">done-list</a> for more info.
			</p>
		</div>
	</header>
	<div class="page wrapper docs-content">
		<section>
			<h1>Gameplay and usage</h1>
			{% include category.html category="gameplay" %}
		</section>
		<section>
			<h1>Vehicle creation</h1>
			{% include category.html category="vehicle-creation" %}
		</section>
		<section>
			<h1>Terrain creation</h1>
			{% include category.html category="terrain-creation" %}
		</section>
		<section>
			<h1>Tools and tutorials</h1>
			{% include category.html category="tools-tutorials" %}
		</section>
	</div>
</article>

