
$ror-orange          : #EE7700;
$ror-content-width   : 1000px;
$ror-titlegrad-bottom: #2D2D2D;
$ror-titlegrad-top   : #606060;
$ror-titletext-color : #D4D4D4;
$ror-titleborder-w   : 3px;
$ror-titleborder-col : #3A3A3A;

body {
	margin: 0;
	background-color: #E6E6E6;
}

#page-header {
	background: $ror-orange; 
	padding-top: $spacing-unit/2; 
	padding-bottom: $spacing-unit/2;
}

#docs-blackbar {
	border-bottom: 1px solid #808080;
	background: #404040 none repeat scroll 0% ;
	padding: $spacing-unit/4;
}

#docs-blackbar a, #docs-blackbar a:visited {
	color: #D4D4D4;
}

#docs-header h1 {
	padding-top: $spacing-unit/2;
	font-weight: bold;
}

.docs-content {
	border-color: gray;
	border-style: solid;
	border-width: 0 1px 0 1px;
	background-color: white;
}

.page {
	padding-bottom: $spacing-unit/2;
}

.page h1 {
	font-weight: bold;
	color: $ror-orange;
	font-size: 1.6em;
}

header h1 {
	padding-top: $spacing-unit/2;
	font-weight: bold;
	font-size: 1.8em;
}

footer {
	border-top: 1px solid gray;
	background: #404040;
	color: $ror-titletext-color;
	padding: $spacing-unit/4;
}

#edit-on-github {
	text-align: right;
}

th, td {
	padding: $spacing-unit/4;
	border: 1px solid gray;
	margin: 0;
}

th {
	background: a#ecffd7;
}

table {
	margin-bottom: $spacing-unit/2;
	border-collapse: collapse;
}

.info-box {
    padding: 0;
    border: 1px solid #3ac58a;
    background: #d2efe3;
    margin: $spacing-unit/2 auto $spacing-unit/2 auto;
    width: 80%;
}

.info-box p {
    padding-left: $spacing-unit/2; 
    padding-right: $spacing-unit/2;
}

.info-box p.title{
    font-weight: bold;
    background: #9bdabb;
}

